@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
body{
  font-family: 'rowdies';
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 38%, rgba(3,32,165,1) 89%);
}
#google-one-tap-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height: 80%;
    margin: 1rem auto;
    gap: 1rem;
}
#First_page{

    opacity:70%;
    width: 100%;
    color: blue;
    font-family: 'Skranji', cursive;
}
#first_img{
  width:100%;
  max-width:max-content;
  height:auto;
}
#first_text{
    color: blue;
}

.Topic2{
  font-size: 3rem;
  text-align: center;
  color:aliceblue;
  padding: 20px;
  position: relative;
  bottom: 300px;
}


.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: fit-content;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.textt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'rowdies';
  margin-left: 40vh;
  width: 100vh;
  height: 50vh;
  position:relative;
  bottom: 90vh;
  border: 1px double;
  box-sizing:border-box;
  
  box-shadow:5px 10px #0e0632;
  font-size: 3em;
  padding-top: 10vh;
  background-color: rgba(192, 240, 194, 0.3);
  
}
@media screen and (max-width:1200px) {
  .textt{
    padding-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    height: 70%;
    position:relative;
    bottom: 80vh;
    font-size: 0.5em;
    margin-top: 11%;
  }
  #first_img{
    height:50%
  }
}
h1{
  color:rgb(2,0,36);
  padding-left: 10%;
  font-size: 3rem;
  padding-top: 5%;
}

@media screen and (max-width:800px) {
  
  #first_img{
    width:100%;
    height: 600px;
  }
  h1{
    color:rgb(2,0,36);
    font-size: 2rem;
    padding-top: 5%;
  }
  
}
.containerr{
  display: flex;
  width: 70%;
  justify-content:center;
}
