
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
.page1{
  background: #100721;
}
#google-one-tap-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height: 80%;
    margin: 1rem auto;
    gap: 1rem;
}
#First_page{

    opacity:70%;
    width: 100%;
    color: blue;
    font-family: 'Skranji', cursive;

}
#first_img{
  width:100%;
  max-width:max-content;
  height:auto;
}



#first_text{
    color: blue;
}

.Topic2{
  font-size: 2.5rem;
  text-align: center;
  color:chocolate;
  padding: 20px;
}


.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: fit-content;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}



.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.carousel .control-dots{
  margin: 0px;
}

.carousel .thumbs-wrapper {
  margin: -20px;
  overflow: hidden;
}
.textt{
  display: flex;
  flex-wrap: wrap;
  font-family: 'rowdies';
  margin-left: 40vh;
  
  width: 100vh;
  height: 50vh;
  position:relative;
  bottom: 90vh;
  border: 1px double;
  box-sizing:border-box;
  
  box-shadow:5px 10px #0e0632;
  font-size: 1.5em;
  padding-top: 10vh;
  
  background-color: rgba(192, 240, 194, 0.3);
  
}
@media screen and (max-width:500px) {
  .textt{
    padding-top: 5vh;
    margin-left: 15%;
    width:70%;
    height: 1%;
    position:relative;
    bottom: 30vh;
    font-size: 0.5em;
  }
  #first_img{
    height:50%
  }
}
h1{
  color:rgb(2,0,36);
  padding-left: 10%;
}
.firstDiv{
  

  
}
@media screen and (max-width:500px) {
  .firstDiv{
    width: auto;
    height: 80%;
  
    
  }
}
.containerr{
  display: flex;
  width: 70%;
  justify-content:center;
}
